* {
  padding: 0;
  margin: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid rgb(16, 152, 173);
}

.container {
  width: 800px;
  margin: 0 auto;
}

nav {
  font-size: 18px;
}

.main-header {
  background-color: #efefef;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

.post-header {
  margin-bottom: 40px;
}

article {
  margin-bottom: 60px;
}

aside {
  border-top: 5px solid rgb(16, 152, 173);
  border-bottom: 5px solid rgb(16, 152, 173);
  background-color: #efefef;
  padding: 50px 0;
  width: 500px;
}

h1,
h2,
h3 {
  color: rgb(16, 152, 173);
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.post-image {
  width: 100%;
  height: auto;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

a:any-link {
  color: rgb(16, 152, 173);
  text-decoration: none;
}

a:visited {
  color: rgb(16, 152, 173);
}

a:hover {
  color: orangered;
  text-decoration: underline orangered;
}

a:active {
  font-style: italic;
}

#copyright {
  font-size: 16px;
}
